
@{
    ViewBag.Title = "Productos";
}
<h2 style="text-align:center;">@ViewBag.Title</h2>
<hr style="width:100%;" />
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerca"><span aria-hidden="true"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">×</font></font></span></button>
                <h4 class="modal-title" id="myModalLabel"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ingresar Producto</font></font></h4>
            </div>
            <div class="modal-body" id="modal-Contenedor">
                Cargando...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cancelar</font></font></button>
                <button type="button" class="btn btn-primary" onclick="jsAdd()"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Guardar</font></font></button>

            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

@if (Convert.ToString(Session["RolUsuario"]) == "1")
{
    <button type="button" id="btnNuevo" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
                Nuevo
            </font>
        </font>
    </button>
    <button type="button" onclick="Get()" class="btn btn-primary" style="margin:10px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit; margin: 10px 15px;">Actualizar</font></font></button>
}

<div id="divLista">

</div>

<script>
    urlGet = "Productos/List";
    Get();
    function Get() {
        fetch(urlGet)
            .then(function (response) {
                return response.text();
            })
            .then((data) => {
                document.getElementById("divLista").innerHTML = data;
            })
    }

    //Eliminar
    function jsDelete(id) {
        fetch("@Url.Content("~/Productos/Delete")", {
            method: "POST",
            body: JSON.stringify({
                Id : id
            }),
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json"
            }
        }).then(function (response) {
            if (response.ok) {
                return response.text();
            } else {
                alert("Erro al Ejecutar ");
            }
        }).then(function (Data) {
            if (Data != "1") {
                alert(Data);
            } else {
                Get();
            }
        })
    }
</script>

@section scripts{
    <script src="~/Scripts/Modal.js"></script>
    <script src="~/Scripts/ModalEdit.js"></script>
}

