
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPageLogin.cshtml";
}

<h2>Login</h2>
<h2>Digite sus datos para Ingresar</h2>
<br />
<div class="row">
    <div>
        @ViewBag.Error
    </div><br />
    <form id="frm" action="@Url.Content("~/Acceso/Login")" method="post">
        <div class="col-lg-6 col-lg-offset-3" align="justify">
            <table>
                <tr>
                    <td>Email</td>
                    <td><input type="email" name="email" /></td>
                    
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr>
                    <td>Password&nbsp;</td>
                    <td><input type="password" name="pass" /></td>
                </tr>
            </table>
            <br />
            <input type="submit" class="btn btn-success" value="Ingresar" />
            <br />
            @Html.ActionLink("Crear una cuenta para ingresar", "Registrar", "Account")
        </div>
    </form>
</div>

